<!-- Check if it is a root tag or category page -->
<%
    var items = [];
    var title = '';
    var isTagIndex = page.type === 'tags' || page.type === 'tag';
    var isCategoryIndex = page.type === 'categories' || page.type === 'category';
    if (isTagIndex) {
        items = site.tags;
        title = __('tags');
    } else if (isCategoryIndex) {
        items = site.categories;
        title = __('categories');
    }
    var isTagOrCat = isTagIndex || isCategoryIndex;
%>

<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || title || __('default_post_title'),
    secondaryText: '',
    faIconCss: page.icon || theme.default_post_icon || ''
}) %>


    <!-- Content -->
    <div class="w-100 ph2 ph4-m ph5-l mv1 mv1-l">
        <div class="content">
            <div class="mw10 center flex flex-wrap">
                <% if (isTagOrCat) { %>
                    <% items.forEach(function(item){ %>
                       <%- partial('_partial/tag-category-index', {item: item, isTagIndex: isTagIndex}) %>
                   <% }) %>
                <% } else { %>            
                    <div class="fl w-70 pa2 lh-copy post-content">
                        <!-- Main Post Content -->
                        <%- page.content %>
                    </div>
                <% } %>
                <div class="fl w-20 pa2" style="flex: 0 0 200px;">
                  <%- partial('_partial/sponsors.ejs', { sponsors: config.sponsors }) %>
                </div>
            </div>
        </div>
    </div>
